body {
    margin: 0;
    font-family: Arial;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #002F6C;
}

.logo {
    height: 40px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    z-index: 2;
    text-align: center;
}

.texto1 {
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 8px;
}

#texto2 {
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 6px;
}

/* BOTÃO */
.cta {
    background: #E30613;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.cta:hover {
    background: #0b2c57;
}

/* SEÇÕES */
.section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

/* GRID */
.grid {
    display: flex;
    gap: 20px;
}

/* BOX */
.box {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    background: #f5f5f5;
}

.box.blue {
    border-top: 5px solid #002F6C;
}

.box.red {
    border-top: 5px solid #E30613;
}

.contato {
    text-align: center;
}

/* SLIDER */
.slider {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slides img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: none;
}

.prev, .next {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius:8px;
}

.prev {
    left: -26px;
    background: red;
    color: white;
}

.next {
    right: -26px;
    background: blue;
    color: white;
}

/* MAPA */
iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* CONTATO */
.container-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container-botoes img {
    width: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.container-botoes img:hover {
    transform: scale(1.2);
    opacity: 0.85;
}

/* FOOTER */
footer {
    background: #002F6C;
    color: white;
    text-align: center;
    padding: 15px;
}

/* MOBILE */
@media(max-width:768px) {
    .grid {
        flex-direction: column;
    }

    .slides img {
        height: 250px;
    }

    .hero {
        height: 60vh;
    }
}
